/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 21 Jun, 2016, 10:23:45 AM
    Author     : sukriti
*/

input{
    width:250px;
    height:30px;
    background:#4E9CAF;  //darkmoderate cyan
    text-align: center;
    padding:15px ;
    padding-top:3px;
    padding-bottom:3px;
    border-radius:10px ;
    color:white;
    font-weight: bold;
    font-size:12pt;
    display: inline-block;
    cursor:pointer;
}
input:hover{
    background-color:#20B2AA;  //LightSeaGreen
}